/* HeroSection.css */
@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.sliding-animation {
  animation: slideIn 1s ease-in-out;
}
